// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

/* ==========================================================================
  #TECH TAG
========================================================================== */
.tech-tag {
  font-weight: 600;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  border: 1px solid #0055a6;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-decoration: none;
}

.java-tag{
  background-color:#3a75b0;
  color: #fff;
}

.html-tag{
  background-color:#D43D1C;
  color: #fff;
}

.css-tag {
  background-color: #254bdd;
  color: #fff;
}

.javascript-tag {
  background-color: #efd81c;
  color: #333;
}

.thymleaf-tag{
  background-color: #035b10;
  color: #fff;
}

.jsp-tag {
  background-color: #000;
  color: #fff;
}

.wordpress-tag {
  background-color: #20749b;
  color: #fff;
}

.php-tag {
  background-color: #4e5c93;
  color: #fff;
}

/* ==========================================================================
  #TIMELINE
========================================================================== */
.nhsbsa-timeline__header > h3 {
  margin-bottom: 0px;
}

.nhsbsa-timeline__item > h4 {
  margin-bottom: 0px;
}
.nhsbsa-timeline__document-item > a, .nhsbsa-timeline__document-item {
  font-size: 16px;
}
.nhsbsa-timeline {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.nhsbsa-timeline:before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}
.nhsbsa-timeline--full {
  margin-bottom: 0;
}
.nhsbsa-timeline--full:before {
  height: calc(100% - 75px);
}
.nhsbsa-timeline__item {
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}
.nhsbsa-timeline__item:before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}
.nhsbsa-timeline__title {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline;
}
@media print {
  .nhsbsa-timeline__title {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .nhsbsa-timeline__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
@media print {
  .nhsbsa-timeline__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.nhsbsa-timeline__by {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #505a5f;
  display: inline;
  margin: 0;
}
@media print {
  .nhsbsa-timeline__by {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .nhsbsa-timeline__by {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
@media print {
  .nhsbsa-timeline__by {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.nhsbsa-timeline__date {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 5px;
  margin-bottom: 0;
}
@media print {
  .nhsbsa-timeline__date {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .nhsbsa-timeline__date {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .nhsbsa-timeline__date {
    font-size: 14pt;
    line-height: 1.2;
  }
}
.nhsbsa-timeline__description {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 20px;
}
@media print {
  .nhsbsa-timeline__description {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .nhsbsa-timeline__description {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .nhsbsa-timeline__description {
    font-size: 14pt;
    line-height: 1.2;
  }
}
.nhsbsa-timeline__documents {
  list-style: none;
  margin-bottom: 24px;
  padding-left: 0;
}
.nhsbsa-timeline__document-item {
  margin-bottom: 5px;
}
.nhsbsa-timeline__document-item:last-child {
  margin-bottom: 0;
}
.nhsbsa-timeline__document-link {
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 25px;
}
.nhsbsa-timeline__document-link:focus {
  color: #0b0c0c;
}