/* ==========================================================================
  #TECH TAG
========================================================================== */
.tech-tag {
  font-weight: 600;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  border: 1px solid #0055a6;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-decoration: none;
}

.java-tag{
  background-color:#3a75b0;
  color: #fff;
}

.html-tag{
  background-color:#D43D1C;
  color: #fff;
}

.css-tag {
  background-color: #254bdd;
  color: #fff;
}

.javascript-tag {
  background-color: #efd81c;
  color: #333;
}

.thymleaf-tag{
  background-color: #035b10;
  color: #fff;
}

.jsp-tag {
  background-color: #000;
  color: #fff;
}

.wordpress-tag {
  background-color: #20749b;
  color: #fff;
}

.php-tag {
  background-color: #4e5c93;
  color: #fff;
}

.yaml-tag {
  background-color: #fff;
  color: #333;
}