<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  HWHC Frontend history - NHS Business Service Authority
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">NHSBSA Frontend history</h1>
      <p class="nhsuk-lede-text">A collection of resources and documentation for frontend development at the NHSBSA.</p>
    </div>
  </div>
  <h2 class="nhsuk-heading-l">Project teams</h2>
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/services/hwhc-services/overview",
        "clickable": "true",
        "heading": "HWHC Services",
        "headingClasses": "nhsuk-heading-m",
        "description": "A guide to the Help with Health Costs services."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "additional-projects",
        "clickable": "true",
        "heading": "Additional projects",
        "headingClasses": "nhsuk-heading-m",
        "description": "Online projects being worked on outside of project teams."
      }) }}
    </li>
  </ul>

  <h2 class="nhsuk-heading-l">Resources</h2>
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "#",
        "clickable": "true",
        "heading": "Accessibility",
        "headingClasses": "nhsuk-heading-m",
        "description": "Information, tools and tips for developing accessible services."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "custom-components",
        "clickable": "true",
        "heading": "Custom components",
        "headingClasses": "nhsuk-heading-m",
        "description": "A list of the custom components used across NHSBSA services."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "https://bsa2468.atlassian.net/wiki/spaces/CoP/pages/2098462750/Resources",
        "clickable": "true",
        "heading": "Additional resources",
        "headingClasses": "nhsuk-heading-m",
        "description": "A collection of resources on JIRA to help with frontend development."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "/additional-assets",
        "clickable": "true",
        "heading": "Assets",
        "headingClasses": "nhsuk-heading-m",
        "description": "A collection of aditional images, logos and branding materials."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        "href": "https://bsa2468.atlassian.net/wiki/spaces/CPD/pages/3536192007/Training+roadmap+frontend+developer",
        "clickable": "true",
        "heading": "Training roadmap",
        "headingClasses": "nhsuk-heading-m",
        "description": "Collection of areas and technologies for learning."
      }) }}
    </li>
  </ul>
{% endblock %}
